@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--radius: 0.5rem;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1.875rem #cac5bb inset;
}

.content-spacing {
	@apply px-[5%] xl:px-[10%];
}

.custom-scrollbar {
	overflow: auto;
	scrollbar-color: #d8704a #cfc3b3;
	scrollbar-width: thin;
}
